[Unit]
Description=HealthD
After=network.target
Requires=network.target

[Service]
Type=notify

Restart=always
RestartSec=30
TimeoutStartSec=0

WorkingDirectory=/etc/healthd
ExecStart=/etc/healthd/healthd
User=healthd
Group=healthd
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
